[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
psycopg2-binary = "*"
"sqlalchemy.ext" = "*"
flask-bcrypt = "*"
db = "*"
flask-session = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
